.loginPage {
  width: 100vw;
  display: flex;
  flex-flow: column;
  font-family: 'Alegreya', serif;
}

#loginForm {
  background-color: #e7ffe6;
  width: 100vw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 86vh;
}

.fa-unlock-alt {
  color: #49d290;
  margin: 2rem 0 0.5rem 0;
}

#loginForm h1 {
  font-family: 'Lora', serif;
  font-size: 2rem;
  font-weight: 700;
  color: #333333;
  text-align: center;
}

#loginForm input {
  width:90%;
  display: block;
  padding: 0.75rem;
  margin-top: 0.25rem;
  border: 1px solid  #ddd;
  border-radius: 0.25rem;
  background-color: #ffffff;
  color: #333333;
}

#loginForm input:focus {
  box-shadow: 0 0 5px #49d290; 
  border: 1px solid #49d290;
  outline-offset: 0px !important;
  outline: none !important;
}

#loginForm label {
  width: 80%;
  display: block;
  text-align: left;
  color: #333333;
  font-weight: 700;
}

#loginForm label:first-of-type {
  margin-top: 0;
}

.logError {
  margin: 1rem;
  text-align: center;
  color: #b71c1c;
  font-weight: 700;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width:90%;
}

@media (min-width: 600px) {

  .loginPage {
    align-items: flex-end;
    justify-content: center;
  }

  #loginForm {
    width: 400px;
    border-radius: 3rem;
    margin-right: 10vw;
    box-shadow: 0.25rem 0 0.5rem #49d290; 
    border: 1px solid #49d290;
    min-height: fit-content;
    padding-bottom: 2rem;
  }
}
