.singleItemPage {
  padding: 1rem;
  gap: 1rem;
  width: 100vw;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.itemAndButtonContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1.5rem;
}

.singleItemErrorMessage {
  font-family: 'Alegreya', serif;
  margin: 1rem;
  text-align: center;
  color: #b71c1c;
  font-weight: 700;
}

@media (min-width: 600px) {
  .singleItemErrorMessage {
    margin-top: 3rem;
  }
}