.createItemPage {
  width: 100vw;
  display: flex;
  flex-flow: column;
  font-family: 'Alegreya', serif;
}

#createItemForm {
  background-color: #e7ffe6;
  width: 100vw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 86vh;
}

#createItemForm .fa-plus-circle {
  color: #49d290;
  margin: 1rem;
}

#createItemForm h1 {
  font-family: 'Lora', serif;
  font-size: 2rem;
  font-weight: 700;
  color: #333333;
  text-align: center;
}

#createItemForm input, #createItemForm textarea {
  width:90%;
  display: block;
  padding: 0.75rem;
  margin: 0 auto;
  margin-top: 0.25rem;
  border: 1px solid  #ddd;
  border-radius: 0.25rem;
  background-color: #ffffff;
  font-family: 'Alegreya', serif;
  color: #333333;
}

#createItemForm textarea {
  margin-bottom: 1rem;
}

#createItemForm input:focus, #createItemForm textarea:focus {
  box-shadow: 0 0 5px #49d290; 
  border: 1px solid #49d290;
  outline-offset: 0px !important;
  outline: none !important;
}

#createItemForm label {
  width: 80%;
  display: block;
  text-align: left;
  margin-top: 0.5rem;
  color:  #333333;
  font-weight: 700;
}

#createItemForm label:first-of-type {
  margin-top: 0;
}

.createItemErrorMessage {
  margin: 1rem;
  text-align: center;
  color: #b71c1c;
  font-weight: 700;
}

@media (min-width: 600px) {

  .createItemPage {
    align-items: center;
    justify-content: center;
  }

  #createItemForm {
    width: 400px;
    border-radius: 3rem;
    margin-top: 0.5rem;
    box-shadow: 0.25rem 0 0.5rem #49d290; 
    border: 1px solid #49d290;
    min-height: fit-content;
  }
}