.storePage {
  padding: 1rem;
  gap: 1rem;
  width: 100vw;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.userErrorMessage {
  font-family: 'Alegreya', serif;
  margin: 1rem;
  text-align: center;
  color: #b71c1c;
  font-weight: 700;
}

@media (min-width: 600px) {
  .storePage {
    gap: 2rem;
    padding-top: 2rem;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    margin: 0 auto;
  }

  .itemCard {
    width: 45%;
  }
}

@media (min-width: 960px) {

  .storePage {
    padding-top: 3rem;
    width: 80vw;
  }
}